body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1, p {
  font-size: 30px;
  color: #333;
  text-align: center;
  margin-top: 20px;
}


.estrellas{
  font-size: 30px;
  padding: 0;
  unicode-bidi: bidi-override;
  margin: 0;
  padding-top: 25px;
}

input[type="radio"] {
  display: none;
}

.calificacion{
  font-size: 35px;
  margin: auto;
  direction: rtl; 
}

.pregunta{
  font-size: 25px;
  margin: auto;
  text-align: center;
}

.yellow {
  color: orange;
}

.black{
  color: black;
}