
.estrellas{
  font-size: 30px;
  padding: 0;
  font-size: 50px;
  unicode-bidi: bidi-override;
  margin: 0;
  padding-top: 25px;
}

input[type="radio"] {
  display: none;
}

.calificacion{
  font-size: 35px;
  margin:0;
  direction: rtl; 
}

.yellow {
  color: orange;
}

.black{
  color: black;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}