body {
  font-family: Arial, sans-serif;
  background-image: url("/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

header {
  background-color: #a56c2e;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.estrellas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  justify-items: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

input[type="radio"] {
  display: none;
}

.calificacion {
  font-size: 35px;
  margin: auto;
  direction: rtl;
}

/* container-pregunta {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
} */

.pregunta {
  font-size: 24px;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  padding: 10px;
}

.yellow {
  color: #f39c12;
}

.black {
  color: #000;
}

label:hover,
label:hover ~ label {
  color: #f39c12;
  cursor: pointer;
}

/* Button Styles */
button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}
